<div class="page-header">
  <h1>Registrations</h1>
</div>

<table class="table table-striped">
  <thead>
    <th>First</th>
    <th>Last</th>
    <th>Address</th>
    <th>Address2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Country</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (registration) in registrations { %>
    <tr>
      <td><%= registration.First %></td>
      <td><%= registration.Last %></td>
      <td><%= registration.Address %></td>
      <td><%= registration.Address2 %></td>
      <td><%= registration.City %></td>
      <td><%= registration.State %></td>
      <td><%= registration.Zip %></td>
      <td><%= registration.Country %></td>
      <td>
        <div class="pull-right">
          <%= linkTo(registrationPath({ registration_id: registration.ID }),
          {class: "btn btn-info", body: "View"}) %> <%=
          linkTo(editRegistrationPath({ registration_id: registration.ID }),
          {class: "btn btn-warning", body: "Edit"}) %> <%=
          linkTo(registrationPath({ registration_id: registration.ID }), {class:
          "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you
          sure?", body: "Destroy"}) %>
        </div>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
